* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	line-height: 1.15;
}

body {
	font-size: 16px;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",
					Roboto,"Helvetica Neue",Arial,sans-serif,
					"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

input {
	font-size: 16px;
}

p {
	margin-bottom: 0;
}

.grid-width {
	width: 68.750em;
	margin: auto;
}

a {
	color: #000000;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

h3 {
	font-size: 1.75em;
	font-family: inherit;
	font-weight: 500;
	line-height: 1.2;
	color: inherit;
}



