.sidebar {
    position: sticky !important;
    top: 40px;
    height: calc(100vh - 40px);
    padding: 0 !important;
    overflow-y: scroll;
    overflow-x: hidden;
}

.main-page-row {
    justify-content: space-around;
}
ul {
    padding: 0;
    margin: 0;
}

.link-course{
    color: #000;
}

.link-course:hover {
    text-decoration: none;
}

.link-course:hover > li{
    background-color: #eee;
}

.list-courses {
    width: 100%;
}

.logo {
    color: #fff;
}

.logo:hover {
    color: #fff;
    text-decoration: none;
}

.sidebar-button-container {
    width: 100%;
}

.sidebar-button {
    width: 48%;
}